h3{
    font-size: 20px !important;
}

.btn-success:hover{
    background-color: red;
}

canvas{
    animation-name: iWikeTurtles;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes iWikeTurtles{
    from{box-shadow: 5px 5px 30px red;}
    to{box-shadow: 5px 5px 30px yellow;}
}